{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}

<div class="container">
  <div class="row align-items-center justify-content-around mt-4">
    <div class="col-8 col-md-6 col-lg-4">
      <h2>Login to follo!</h2>
      <p style="line-height:1.6em;"></p>
        <form method="POST">
          {% csrf_token %}
          {% bootstrap_form form %}
          <input type="submit" class="btn btn-secondary" value="Login">
        </form>
      <p style="line-height:1.6em;"></p>
      <div class="card border-light mb-3 ml-0" style="max-width: 18rem;">
        <div class="card-body">
          <p style="line-height:.6em; margin-left:0px; font-size:0.8em"><a style="color:#808080" href="{% url 'password_reset' %}">Forgot password?</a></p>
          <p style="line-height:.6em; margin-left:0px; margin-bottom:0px; color:#B0B0B0; font-size:0.8em">Don't have an account? <a style="color:#808080" href="{% url 'accounts:signup' %}">Sign up</a> here!</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
