{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}

<div class="container">
  <div class="row align-items-center justify-content-around mt-4 password-reset">
    <div class="col-12 col-md-11 col-lg-9">
      <h2>Password reset sent</h2>
      <p style="line-height:1.6em;"></p>
      <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

      <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    </div>
  </div>
</div>

{% endblock %}

t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
