{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}

<div class="container">
  <div class="row align-items-center justify-content-around mt-4 password-reset">
    <div class="col-10 col-md-8 col-lg-6">
      <h2>Set new password</h2>
      {% if validlink %}
      <p style="line-height:1.6em;"></p>
        <form method="POST">
          {% csrf_token %}
          {% bootstrap_form form %}
          <input type="submit" class="btn btn-secondary" value="Save">
        </form>
      {% else %}
      <br>
      <p style="color:red;">Oops! Something went wrong.</p>
      <p>Click <a href="{% url 'password_reset' %}">here </a>to request a new password.</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
