{% extends 'base.html' %}
{% load bootstrap4 %}

{% block body %}

{% bootstrap_javascript jquery='full' %}
{{ form.media }}

<div class="container">
  <div class="row align-items-center justify-content-around mt-4">
    <div class="col-12 col-md-8 col-lg-6">
      <h2>Add a Task</h2>
      <p style="line-height:1.6em;"></p>
      <form method="POST" action="{% url 'projects:add_task_project' project.pk %}" id="taskForm">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary btn-large">Add</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
