{% extends 'base.html' %}

{% block body %}


  <div class="container">
    <form action="{% url 'Follo:add_project' %}" method="post">
      <br>
      <br>
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group row">
        <label for="id_{{ field.name }}" class="col-2 col-form-label">
          {{ field.label }}
        </label>
        <div class="col-10">
          {{ field }}
        </div>
      </div>
      {% endfor %}

      <button type="submit" class="btn btn-light" name="button">Add</button>

    </form>
  </div>

{% endblock %}
