<script>
  var defaultData2 = []
  var labels2 = [];
  var endpoint = '/team_tasks_category/'
  $.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
      labels2 = data.labels
      defaultData2 = data.data
      setChart_Team()
    },
    error: function(error_data){
      console.log("error")
      console.log(error_data)
    },
  })

// ctx2 chart
  function setChart_Team(){
    var ctx2 = document.getElementById('team-activity');
    ctx2.height = 40+defaultData2.length*35;
    var goals_chart = new Chart(ctx2, {
      type: 'horizontalBar',
      data: {
        datasets: [{
          borderWidth: 0,
          data: defaultData2,
          backgroundColor: '#F7C59F',
          label: 'Open tasks'
        }],
        labels: labels2
      },
      options: {
        layout: {
            padding: {
                left: 0,
                right: 15,
                top: 0,
                bottom: 0
            }
        },
        tooltips: {
            mode: 'nearest'
        },
        offset: true,
        scales: {
            xAxes: [{
              ticks: {
              precision:0,
              beginAtZero: true,
              lineHeight: .5,
              fontSize: 12,
              fontColor: 'white',
              padding: -3,
            },
              display: false,
                stacked: false,
                gridLines: {
                  display: false,
                  drawBorder: false,
                },
            }],
            yAxes: [{
              ticks: {
                mirror: false,
                fontColor: 'white',
                beginAtZero: true,
            },
              display: true,
              categoryPercentage: 1,
              barPercentage: .35,
              maxBarThickness: 100,
                stacked: false,
                gridLines: {
                  display: false,
                  drawBorder: false,
                },
            }]
        },
        plugins: {
          datalabels: {
                color: '#FFFFFF',
                anchor: 'end',
                align: 'right',
                font:{
                  family: "'Inter', sans-serif",
                }
              },
          p1: false   // disable plugin 'p1' for this instance
        },
        datalabels: {
            display: false,
            align: 'center',
            anchor: 'center'
         },
        legend:{
          position: 'top',
          display: true,
          labels: {
            fontColor: 'white',
            boxWidth: 7,
            usePointStyle: true,
          }
        },
        title: {
          display: false,
          text: 'Team Tasks per Category',
          fontSize: 14,
          fontStyle: 'bold',
        },
        cutoutPercentage: 100,
      }
    });
  }

</script>
